#grand-rectangle {
                     background-color: gray;
                     width: 1800px;
                     height: 800px;
                     position: relative;
                   }
             
                   #petit-rectangle-blanc {
                     background-color: white;
                     width: 1200px;
                     padding: 10px;
                     height: 100px;
                     position: absolute;
                     top: 20px;
                     left: 20px;
                   }
             
                   .rectangle {
                     width: 200px;
                     height: 50px;
                     display: inline-block;
                     margin-right: 10px;
                     text-align: center;
                     line-height: 50px;
                     font-weight: bold;
                     color: white;
                     padding: 5px;
             
                     margin-left: 30px;
                     position: relative;
                     top: 10%;
                     cursor: pointer;
                     border-style: outset;
                     border-radius: 10%;
             
                   }
             
                   #rectangle-1 {
                     background-color: green;
                   }
             
                   #rectangle-2 {
                     background-color: red;
                   }
             
                   #rectangle-3 {
                     background-color: yellow;
                   }
             
                   #rectangle-4 {
                     background-color: blue;
                   }
             
                   #petit-rectangle-vert {
                 
                     color: black;
                     width: 200px;
                     height: 50px;
                     position: absolute;
                     bottom: 20px;
                     right: 60px;
                     text-align: center;
                     line-height: 30px;
                     font-weight: bold;
                     position: absolute;
                     top: 50;
                     cursor: pointer;
                   
                   }